/*! @import */
@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-enter-active,
.fade-leave-active {
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.move-enter-active,
.move-leave-active {
  transition: all 0.2s linear;
  transform: translateX(0%);
}

.move-enter-from,
.move-leave-to {
  transform: translateX(100%);
}

.scroll-area {
  &::-webkit-scrollbar {
    width: 5px;
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.12);
  }

}

@font-face {
  font-family: 'Space Gtotesk Light';
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/SpaceGrotesk-Light.ttf');
}

@font-face {
  font-family: 'Space Grotesk Regular';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/SpaceGrotesk-Regular.ttf');
}

@font-face {
  font-family: 'Space Gtotesk Medium';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/SpaceGrotesk-Medium.ttf');
}

@font-face {
  font-family: 'Space Gtotesk SemiBold';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/SpaceGrotesk-SemiBold.ttf');
}

@font-face {
  font-family: 'Space Gtotesk Bold';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/SpaceGrotesk-Bold.ttf');
}

// .perma-message {
//   padding: 8px 24px !important;
//   align-items: center !important;
//   border-radius: 8px !important;
//   color: #fff !important;
//   max-width: 500px;
//   justify-content: space-between !important;
//   backdrop-filter: blur(2px) !important;
//   transition: all 1s !important;
//   transition-duration: 1s !important;
// }

// .el-message__icon {
//   font-size: 20px;
// }

// // 重写 success 样式
// .el-message--success {
//   background-color: rgba(82, 199, 99, 0.2) !important;
//   border: 1px solid rgba(82, 199, 99, 0.2) !important;

//   .el-icon-success { 
//     color: rgba(73, 193, 71, 1) !important;
//   }
// }

// // 重写 error 样式
// .el-message--error {
//   background: rgba(255, 125, 105, 0.2) !important;
//   border: 1px solid rgba(255, 125, 105, 0.2) !important;

//   .el-icon-error {
//     color: rgba(232, 75, 80, 1) !important;
//   }
// }

// // 重写 warning 样式
// .el-message--warning {
//   background: rgba(255, 197, 61, 0.2) !important;
//   border: 1px solid rgba(255, 197, 61, 0.2) !important;


//   .el-icon-warning {
//     color: rgba(250, 149, 31, 1) !important;
//   }
// }

// .el-message__content {
//   color: #fff !important;
//   font-size: 14px !important;
//   line-height: 22px !important;
//   padding-right: 8px !important;
//   flex: 1 !important;
// }

// .el-message__closeBtn {
//   display: contents !important;
//   font-size: 14px !important;
//   font-weight: 900 !important;
// }